.Container{
    border: 0.5rem;
    border-radius: 15px;
    background-color: linear-gradient(to left, #ffd108, #ff8008);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    color: black;
}
.Img{
    margin: 1rem;
    border-radius: 50%;
}
.ContainerUser{
    display: flex;
    flex-direction: row;
}
.User{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.ConatinerTextAbout{
    margin: 0;
    display: flex;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    flex-direction: column;
    justify-content: center;
}
.ItemAbout{
    margin: 1rem;
    border: 0.2rem solid #232323;
    border-radius: 15px;
}
