@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.layout{
  display: grid;
  align-items: center;
}
section{
  height: 100vh;
  width: 100%;
}
.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Subtitle{
  margin: 0.5rem;
}
.btn-grad {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}
.btn-grad {
   align-self: center;
   margin-top: 1rem;
   padding: 15px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 12px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .Stack{
   font-size: 1.5rem;
 }
 .Stack_item{
   margin: 0.2rem;
 }
 .scroll-down{
  border: 2px solid #FF8008;
  border-radius: 20px;
  bottom: 60px;
  height: 50px;
  left: 0;
  margin-top: 2rem;
  position: absolute;
  right: 0;
  width: 30px;
}
.btn-grad > a{
  text-decoration:none;
  color: #ffff;
  font-size: 1rem;
}
.scroll-down::before{
  animation: scrollDownAnimation 2s infinite;
  background-color: #FF8008;
  border-radius: 100%;
  content: '';
  height: 6px;
  left :0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 6px;
}
@keyframes scrollDownAnimation{
  0%{
    opacity: 0;
    transform: translate(0, 0);
  }
  40%{
    opacity: 1;
  }
  80%{
    opacity: 0;
    transform: translate(0, 20px);
  }
  100%{
    opacity: 0;
  }
}